/*index.html에 선언된 스타일시트*/
@charset "UTF-8";




@keyframes proj_bg {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes subtitle_bg {
    0% {
        opacity: 0;
        transform: translateX(0);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}


@keyframes FadeInBottom {
    0% {
        opacity: 0;
        transform: translateY(70px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}



@keyframes big-small {
    0% {
        opacity: 0;
        transform: scale(.25);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}





@keyframes slide_in_left {
    0% {
        opacity: 0;
        transform: translateX(-250px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes slide_in_right {
    0% {
        opacity: 0;
        transform: translateX(250px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}