@charset "UTF-8";
/*index.html에 선언된 스타일시트*/

:root {
    --ti-cursor-font-weight: 100;
    --ti-cursor-transform: translateX(0);
    --ti-cursor-color: rgba(255, 255, 255, .4);

    /*공통수치 통합관리*/
    --union-line-height: 135%;

    /*컬러 관리*/
    --bg: #111111;
    --systemColor: #ffffff;
    --sectorTitleColor: rgba(255, 255, 255, 0.7);
    --pinkL: #F4AFDD;
    --pinkD: #CF8AB8;
    --yellowL: #F7DC75;
    --yellowD: #D3BA59;
    --blueL: #BCD1EB;
    --blueD: #98B1D1;
    --greenL: #9EB366;
    --greenD: #829945;

/*    글꼴크기 관리*/
/*    --text-large: 2.15vmax;*/
/*    --text-medium: 1.8vmax;*/
/*    --text-semi-medium: 1.6vmax;*/
/*    --text-small: 1.1vmax;*/
/*    --text-large: 2.5em;*/
/*    --text-medium: 2.2em;*/
/*    --text-semi-medium: 1.35em;*/
/*    --text-small: 1em;*/
    --text-large: 4.5vmin;
    --text-medium: 3.5vmin;
    --text-semi-medium: 2.7vmin;
    --text-small: 2vmin;
}



/*@media screen and (max-width: 1024px) {*/
/*    article#sec2_flexbox {*/
/*        flex-direction: column;*/

/*    }*/
/*}*/




* {
    color: var(--systemColor);
    margin: 0;
    padding: 0;
}

body {
    background: var(--bg);
    font-family: "Pretendard", sans-serif;
    overflow-x: hidden;  /*X축으로 오버돼서 표시되는 것을 방지*/
    word-break: keep-all;
    letter-spacing: -.05em;
    /*padding: 20px;*/

    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

.clear {
    clear: both;
}


/*header > nav*/
header {
    /*background: #fff;*/
    top: 1.5%;
    left: 1%;
    position: fixed;
    /*border: solid 1px red;*/
    border-radius: 50px;
    width: 98%;
    color: #1f1f1f;
    z-index: 1;

    transition: ease .25s;
}
header.active {
    background: rgb(255, 255, 255, .85);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(20px); /*Safari 전용 blur*/
    border: solid .5px white;
    box-shadow:
            1.4px 1.5px 3.3px rgba(0, 0, 0, 0.055),
            4.7px 5.1px 11.2px rgba(0, 0, 0, 0.064),
            21px 23px 50px rgba(0, 0, 0, 0.07)
;
}
nav {
    /*border: solid 1px blue;*/
    width: 90%;
    height: 100%;
    margin: 0 auto;
    padding-top: 10px;
}


#nav_logo_black {
    display: none;
    place-items: center;
    float: left;
    /*border: solid 1px green;*/
    height: 60px;
}
#nav_logo_white {
    display: flex;
    place-items: center;
    float: left;
    /*border: solid 1px green;*/
    height: 60px;
    margin-top: 3px;
}


.nav_menu {
    display: inline-block;
    list-style-type: none;
    float: right;
    line-height: 60px;
}
.nav_menu li {
    margin-left: 50px;
    display: inline-block;
    vertical-align: center;
}



.nav_menu button {
    width: 120%;
    height: 20px;
    color: #fff;
    font-size: 1em;
    font-weight: 600;
    position: relative; /* absolute 위치 설정을 위한 상대적 위치 설정 */
    border: none;
    background: none;
}
.nav_menu button:hover {
    font-weight: 700;
    color: var(--blueD);
    /*background: #2b2b2b;*/
    /*padding: 5px 10px;*/
    /*border-radius: 50px;*/
}
.nav_menu button:hover::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 4px; /* border-bottom의 두께 */
    border-radius: 15px;
    background-color: var(--pinkL);
    transition: .5s ease-in-out;
}
.nav_menu button:active {
    opacity: .5;
}







/*UNION*/
.sectorTitle {
    display: inline-block;
    margin: 0 1rem 5em 0;
}
.sectorTitle p {
    display: inline-block;
    font-weight: 500;
    color: rgba(0, 0, 0, .7);
    font-size: var(--text-small);
    background: var(--pinkL);
    padding: 5px 20px;
    border-radius: 50px;
}
.sectorTitle.active {
    animation: proj_bg .75s ease 0s 1 both;
}
.sectorTitle.sub.active {
    animation: proj_bg .75s ease .1s 1 both;
}
.sectorTitle.active .subtitle {
    animation: subtitle_bg 2.5s ease 0s 1 both;
}


.main_img {
    position: fixed;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;

    width: 100%;
    height: 100%;
    z-index: -10;
    /*opacity: .8;*/
}
.main_img video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    object-position: center top;
    display: block;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*backdrop-filter: blur(0) brightness(.85);*/
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,0) 50%, rgba(0,0,0,0.6) 100%);
}






/*INTRO*/
section#intro {
    /*border: solid 1px red;*/
    /*position: fixed;*/
    top: 0;
    width: 100vw;
    height: 100vh;
    letter-spacing: -3px;
    z-index: -9;
    opacity: 1;
    /*background-image: url("../sources/temp/dev_intro2.png");*/
    background-position: center;
    background-size: contain;
    /*filter: brightness(0.6);*/
}
article#intro_bg {

}
article#intro_container {
    /*border: solid 1px red;*/
    /*display: flex;*/
    align-items: center;
    width: 90%;
    height: 100vh;
    margin: 0 auto;
    /*padding-top: 28vh;*/
}
.logo_container {
    width: 700px;
    height: 350px;
    background-image: url("../sources/logomotion_white.png");
    background-size: cover;

    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);

    animation: logoMotion 3s steps(23) forwards;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

    filter: drop-shadow(2px 2px 25px rgba(0, 0, 0, .35));
}
@keyframes logoMotion {
    100% { background-position: -16100px 0; }
}

.text-pop-up-top {
    -webkit-animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}










/*SECTOR01*/
#sec1_bg {
    /*border: solid 1px blue;*/
    width: 100%;
    height: 100%;
    background: var(--bg);
    /*padding-bottom: 5rem;*/

    /*position: absolute;*/
    /*background-image: url("../sources/bgSymbols.png");*/
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}
section#sector1 {
    /*border: solid 1px red;*/
    display: block;
    width: 90%;
    margin: 0 auto;
    padding-top: 15rem;
}

 section#sector1 #flexbox {
     /*border: solid 1px blue;*/
     display: flex
 }

 .overview_title {
    border: solid 1px red;
     width: 100%;
     font-size: var(--text-large);
     font-weight: 500;
     margin-bottom: 10vh;
 }
 .overview_title.active p {
     animation: proj_bg .75s ease 0s 1 both
 }



.flex1 {
    display: flex;
     /*border: solid 1px green;*/

    width: 50%;
    height: 40vh;
    opacity: 0;
}
.flex1 p {
    font-weight: 600;
    font-size: var(--text-large);
    color: var(--sectorTitleColor);
    line-height: var(--union-line-height);
}
 .flex1.active {
     animation: subtitle_bg .75s ease .15s both;
 }

 .flex2 {
     /*display: flex;*/
     width: 50%;
     /*border: solid 1px purple;*/

 }

.title.active p{
    animation: subtitle_bg .75s ease .2s forwards;
}
.subtitle.active p{
     animation: subtitle_bg .75s ease .3s 1 forwards;
 }
.flex2 .title p {
    font-weight: 600;
    font-size: var(--text-large);
    line-height: var(--union-line-height);
    margin-bottom: 1em;
    opacity: 0;
}
.flex2 .title.active p{
    animation: subtitle_bg .75s ease .2s forwards;
}

 .purple {
     color: #D788C1;
 }
.flex2 .subtitle p {
    display: block;
    font-size: 1.1vmax;
    font-weight: 400;
    color: var(--sectorTitleColor);
}
.bold {
    font-weight: 500;
}


.sector1_background {
    width: 50%;
    margin-top: 7vh;
    font-weight: 300;
}
.sector1_background p {
    font-size: var(--text-medium);
}
.sector1_background.active {
    animation: slide_in_left 1s ease 0s 1 normal forwards;}

section#sector1 #flexbox2 {
    /*border: solid 1px blue;*/
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.bg_flex {
    margin-top: 15vmin;
    /*border: solid 1px red;*/
    background-color: var(--systemColor);
    font-size: var(--text-semi-medium);
    width: 32%;
    /*height: 32%;*/
    border-radius: 1em;
    opacity: 0;
}
.bg_flex p {
    color: #fff;
    font-size: var(--text-semi-medium);
    text-align: center;
    padding: 4.4vmin 0;
}

.bg_flex.active.one {
    animation: bg_flex_ani .75s ease 0s 1 normal forwards;
}
.bg_flex.active.two {
    animation: bg_flex_ani .75s ease .15s 1 normal forwards;
}
.bg_flex.active.three {
    animation: bg_flex_ani .75s ease .3s 1 normal forwards;
}


.sector1_background2 {
    /*border: solid 1px red;*/
    width: 80%;
    margin-top: 20vh;
    font-weight: 300;
    float: right;
}
.sector1_background2 p {
    font-size: var(--text-medium);
}
.sector1_background2.active {
    animation: slide_in_right 1s ease 0s 1 normal forwards;}









/*SECTOR02*/
#sec2_bg {
    /*border: solid 1px blue;*/
    width: 100%;
    height: 100%;
    background: var(--bg);
    padding-bottom: 20rem;

    /*background-image: url("../sources/bgSymbols.png");*/
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
}
section#sector2 {
    /*border: solid 1px red;*/
    display: block;
    width: 90%;
    margin: 0 auto;
    padding-top: 5rem;
}

section#sector2 #flexbox3 {
    border: solid 1px red;
    display: flex;
    /*flex-flow: row wrap;*/
    justify-content: space-between;
    width: 100%;
    /*height: 50vh;*/
}

.sec2_flex.title p {
    font-size: var(--text-large);
    font-weight: 500;
    color: var(--sectorTitleColor);
    margin-bottom: 10vmin;
    opacity: 0;
}
article#sec2_flexbox {
    /*border: solid 1px red;*/
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 27vmax;
}
.sec2Flex {
    /*border: solid 1px blue;*/
    width: 32%;
    height: 100%;
    text-align: center;
    transform-style: preserve-3d;

}
.sec2Flex.one.active {
    animation: big-small .75s cubic-bezier(0.38, 0.08, 0.03, 0.88);
    /*opacity: 1;*/
}
.sec2Flex.two.active {
    animation: big-small .75s cubic-bezier(0.38, 0.08, 0.03, 0.88) .2s;
    /*opacity: 1;*/
}
.sec2Flex.three.active {
    animation: big-small .75s cubic-bezier(0.38, 0.08, 0.03, 0.88) .4s;
    /*opacity: 1;*/
}

.sec2Flex.one {
    background: var(--blueL);
    border-radius: 5rem;
}
.sec2Flex.two {
    background: var(--yellowL);
    border-radius: 5rem;
}
.sec2Flex.three {
    background: var(--pinkL);
    border-radius: 5rem;
}

.symbol_top {
    /*border: solid 1px red;*/
    display: flex;
    justify-content: center;
    align-items: center;
    height:70%;
    /*text-align: center;*/
    transform: perspective(1000px) translateZ(50px);

}
.symbol_top svg {
    width: 55%;
    height: 55%;
    opacity: 0;
}
.symbol_top svg.active {
    animation: FadeInBottom .5s forwards .5s;
}
.leaf {
    animation: leafMoving 1.5s infinite alternate;
    transform-origin: 60px 40px;

}
@keyframes leafMoving {
    0% {}
    100% {transform: rotate(-20deg);}
}
.leaf2 {
    animation: leaf2Moving 1.5s infinite alternate;
    transform-origin: 30px 60px;
    /*transform: perspective(1000px) translateZ(100px);*/

}
@keyframes leaf2Moving {
    0% {}
    100% {transform: rotate(5deg) translateY(40px);}
}


/*.toy1 {*/
/*    animation: toyMoving 1.5s infinite alternate ease-in-out;*/
/*}*/
/*@keyframes toyMoving {*/
/*    0% {}*/
/*    50% {transform: translateY(-20px)}*/
/*}*/

.text_bottom {
    /*border: solid 1px blue;*/
    height: 30%;
    transform: perspective(1000px) translateZ(20px);

}
.text_bottom p {
    color: rgba(255, 255, 255, .95);
    font-weight: 800;
    font-size: 4vmin;
    margin-bottom: 1vmax;
}
.text_bottom span {
    color: rgba(255, 255, 255, .95);
    font-weight: 600;
    font-size: 3vmin;
}

article#sec2_result .plus_icon {
    /*border: solid 1px red;*/
    text-align: center;
    margin: 7rem 0 7rem 0;
}
article#sec2_result .plus_icon img.active {
    animation: rotate 1s ease 0s 1 normal forwards;
}
@keyframes rotate {
    0% {
        opacity: 0;
        transform: rotate(-540deg) scale(0);
    }

    100% {
        opacity: 1;
        transform: rotate(0) scale(1);
    }
}

article#sec2_result p {
    text-align: center;
    font-size: var(--text-semi-medium);
    font-weight: 300;
    opacity: 0;
}
article#sec2_result p.active{
    -webkit-animation: tracking-in-expand-fwd-top 0.8s .5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: tracking-in-expand-fwd-top 0.8s .5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@keyframes tracking-in-expand-fwd-top {
    0% {
        letter-spacing: -.5em;
        -webkit-transform: translateZ(-700px) translateY(-300px);
        transform: translateZ(-700px) translateY(-300px);
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }
    40% {
        opacity: 0.4;
    }
    100% {
        -webkit-transform: translateZ(0) translateY(0);
        transform: translateZ(0) translateY(0);
        opacity: 1;
    }
}







/*SECTOR03*/
#sec3_bg {
    /*border: solid 1px blue;*/
    width: 100%;
    height: 100%;
    background: var(--bg);
    padding-bottom: 20rem;

    /*background-image: url("../sources/bgSymbols.png");*/
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
}
section#sector3 {
    /*border: solid 1px red;*/
    display: block;
    width: 90%;
    margin: 0 auto;
    padding-top: 5rem;
}

article.background_bento {
    /*border: solid 1px red;*/
    width: 100%;
    opacity: 0;
    transform-style: preserve-3d;
    padding-bottom: 10rem;
}
article.background_bento img {
    width: 100%;
}
article.background_bento.active {
    -webkit-animation: fade-in-bck 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: fade-in-bck 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;}
@keyframes fade-in-bck {
    0% {
        -webkit-transform: translateZ(80px);
        transform: translateZ(80px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1;
    }
}

article#bg_circle {
    /*border: solid 1px red;*/
    width: 100%;
    text-align: center;
}
article#bg_circle.active {

}
article#bg_circle svg {
    width: 50%;
    padding-bottom: 2rem;

    stroke-dasharray: 3000; /* 원주의 길이 */
    stroke-dashoffset: 10;
    animation: draw 5s cubic-bezier(0.25, 0.08, 0.77, 0.97) infinite alternate;
}
@keyframes draw {
    100% {
        /*stroke-dasharray: 1000; !* 원주의 길이 *!*/
        stroke-dashoffset: 6000;
    }
}

.circle_title p {
    font-size: var(--text-medium);
    color: var(--sectorTitleColor);
    font-weight: 700;
}
.pink {
    color: var(--pinkL);
}




/*SECTOR04*/
#sec4_bg {
    /*border: solid 1px blue;*/
    width: 100%;
    height: 100%;
    background: var(--bg);
    padding-bottom: 20rem;

    /*background-image: url("../sources/bgSymbols.png");*/
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
}
section#sector4 {
    /*border: solid 1px red;*/
    display: block;
    width: 90%;
    margin: 0 auto;
    padding-top: 5rem;
}

.sec4_flex.title p {
    font-size: var(--text-large);
    font-weight: 500;
    color: var(--sectorTitleColor);
    margin-bottom: 10vmin;
    opacity: 0;
}
article#sec4_flexbox {
    /*border: solid 1px red;*/
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 27vmax;
}
.sec4Flex {
    /*border: solid 1px blue;*/
    width: 32%;
    height: 100%;
    text-align: center;
    transform-style: preserve-3d;

}
.sec4Flex.one.active {
    animation: big-small .75s cubic-bezier(0.38, 0.08, 0.03, 0.88);
    /*opacity: 1;*/
}
.sec4Flex.two.active {
    animation: big-small .75s cubic-bezier(0.38, 0.08, 0.03, 0.88) .2s;
    /*opacity: 1;*/
}
.sec4Flex.three.active {
    animation: big-small .75s cubic-bezier(0.38, 0.08, 0.03, 0.88) .4s;
    /*opacity: 1;*/
}

.sec4Flex.one {
    background: #EDE7D9;
    border-radius: 5rem;
}
.sec4Flex.two {
    background: #EDE7D9;
    border-radius: 5rem;
}
.sec4Flex.three {
    background: #EDE7D9;
    border-radius: 5rem;
}

.symbol_bottom {
    /*border: solid 1px red;*/
    display: flex;
    justify-content: center;
    align-items: center;
    height:70%;
    /*text-align: center;*/
    transform: perspective(1000px) translateZ(50px);

}
.symbol_bottom svg {
    width: 55%;
    height: 55%;
    opacity: 0;
}
.symbol_bottom svg.active {
    animation: FadeInBottom .5s forwards .5s;
}

.text_top {
    /*border: solid 1px blue;*/
    height: 30%;
    transform: perspective(1000px) translateZ(20px);

}
.text_top p {
    color: rgba(0, 0, 0, .7);
    font-weight: 400;
    font-size: 2vmin;
    margin-bottom: 1vmax;
}


/*.text_top span {*/
/*    color: rgba(0, 0, 0, .7);*/
/*    font-weight: 600;*/
/*    font-size: 3vmin;*/
/*}*/











/*FOOTER*/
footer {
    /*border: solid 1px red;*/
    /*top: 50%;*/
    position: absolute;
    /*display: block;*/
    width: 100%;
    height: 30em;
    background: #1f1f1f;
    color: #fff;
    font-weight: 300;
    /*z-index: -1;*/


}
footer #footer_container {
    position: relative;

    /*border: solid 1px red;*/
    width: 90%;
    height: 23.5em;
    margin: 0 auto;
    padding: 2em 0;
}
footer #logo {
    /*position: fixed;*/
    /*display: block;*/

    width: 100%;
    height: 2.5em;
}
footer #logo img {
    height: 100%;
    object-fit: cover;
}
footer #logo p {
    display: inline-block;
    color: white;
    margin-left: 1em;
    height: 100%;
    vertical-align: middle;
}


footer #team {
    /*border: solid 1px red;*/
    margin-top: 7vh;
    width: 100%;
}
footer #team .title {
    color: #fff;
    font-weight: 800;
    font-size: 1.25em;
}

footer #info {
    /*border: solid 1px red;*/
    position: absolute;
    bottom: 0;
    left: 0;
}
footer #info p {
    color: #fff;
    font-weight: 100;
    font-size: .8em;
}

#person_box {
    display: flex;
    margin-top: 1.5vh;
}
#person_box .teamperson {
    /*border: solid 1px blue;*/
    width: 12em;
    height: 7em;
    margin-right: 2em;
    border-right: solid .5px rgba(255, 255, 255, .5);
}
.part {
    color: #fff;
    font-size: 1.25em;
    font-weight: 600;
}
.name {
    color: #fff;
    font-size: 1em;
    font-weight: 300;
    margin-top: .3em;
}
.mail a {
    display: block;
    color: #aaa;
    text-decoration: none;
    font-weight: 100;
    font-size: .75em;
    padding-top: 2em;
}

footer #download {
    position: absolute;
    left: 0;

}
footer #download button {
    border: none;
    background: #fff;
    padding: .75vmin 1.5vmin;
    margin-top: 2vmin;
    /*border-radius: 2px;*/
}
footer #download button a {
    font-family: 'Pretendard', sans-serif;
    font-weight: 300;
    font-size: 1.2vmin;
    text-decoration: none;
}
footer #download button:hover {
    opacity: .8;
}
footer #download button:active {
    opacity: .5;
}

footer #badge {
    position: absolute;
    /*border: solid 1px red;*/
    width: 100%;
    height: 2.8em;
    float: right;
    right: 0;
    bottom: 0;
    /*vertical-align: bottom;*/
}
footer #badge img {
    height: 100%;
    object-fit: cover;
    float: right;
    margin-left: 15px;
}







